<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>超浦木业记账系统</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_487368_7tqlr5858m8ia4i.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
</head>
<body>
  <div class="page-wrap">
    <div class="container-fluid">
      <% include top.html %>
      <div class="row item-box">
        <div class="col-lg-2 col-xs-5 item text-center">
          <a href="/kehu">
            <span class="iconfont icon-kehu-copy"></span>
            <strong>客户列表</strong>
          </a>
        </div>
        <div class="col-lg-2 col-xs-5 item text-center">
          <a href="/dingdan" >
            <span class="iconfont icon-xiadan"></span>
            <strong>订单列表</strong>
          </a>
        </div>
        <div class="col-lg-2 col-xs-5 item text-center">
          <a href="/kaipiao">
            <span class="iconfont icon-kaipiao"></span>
            <strong>出货开票</strong>
          </a>
        </div>
        <div class="col-lg-2 col-xs-5 item text-center">
          <a href="/imex">
            <span class="iconfont icon-zhangdan"></span>
            <strong>进出账</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>