<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>开票-超浦木业记账系统</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_487368_7tqlr5858m8ia4i.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
</head>
<body>
  <div class="page-wrap">
    <div class="container-fluid">
      <% include top.html %>
      <div class="main-box row">
        <div class="main">
          <div class="main-top clearfix">
            <div class="form-group input-group pull-left">
              <input type="text" id="user" class="form-control " placeholder="搜索客户或单号" name="user">
              <span class="input-group-addon">
                <i class="iconfont icon-search"></i>
              </span>
            </div>

          </div>
          <table class="table table-bordered text-center xdorder">
            <thead>
              <tr>
                <th>单号</th>
                <th>日期</th>
                <th>客户</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>201712090001</td>
                <td>2017年12月9日</td>
                <td>张三</td>
                <td>
                  <a href="#">开票</a>
                  <a href="#">收款</a>
                </td>
              </tr>
              <tr>
                <td>201712090001</td>
                <td>2017年12月9日</td>
                <td>张三</td>
                <td>
                  <a href="#">开票</a>
                  <a href="#">收款</a>
                </td>
              </tr>
              <tr>
                <td>201712090001</td>
                <td>2017年12月9日</td>
                <td>张三</td>
                <td>
                  <a href="#">开票</a>
                  <a href="#">收款</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>