<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>表单</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
    html,body{margin: 0 auto; padding: 0;}
    body{width: 800px;}
  </style>
</head>
<body>
  <h1 class="text-center">上海超浦木业有限公司</h1>
  <h3 class="text-center">木材出库欠款单</h3>
  <div class="tablehead clearfix">
    <div class="pull-left">
      <p>公司地址：上海市闵行区元江路188号</p>
      <p><span>电话：34685932</span>&nbsp;&nbsp;<span>传真：34685932</span></p>
      <p>购货单位：<%= data.title %></p>
    </div>
    <div class="pull-right">
      <p>No.<%= data.id %></p>
      <span id="year"><%= data.year %></span>年
      <span id="month"><%= data.month %></span>月
      <span id="date"><%= data.date %></span>日
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>长度(m)</th>
        <th>规格(mm*mm)</th>
        <th>数量(根)</th>
        <th>方数(m<small>3</small>)</th>
        <th>单价(元/m<small>3</small>)</th>
        <th>金额(元)</th>
      </tr>
    </thead>
    <tbody>
    <% if(data.canshu){
    for(var i=0; i < data.canshu.length; i++){ %>
      <tr>
        <td><%= data.canshu[i].changdu %></td>
        <td><%= data.canshu[i].guige %></td>
        <td><%= data.canshu[i].num %></td>
        <td><%= data.canshu[i].fangshu %></td>
        <td><%= data.canshu[i].price %></td>
        <td class="price"><%= data.canshu[i].totalPrice %></td>
      </tr>
    <% } } %>
      <tr>
        <td><strong>合计</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td id="totalPrice"></td>
      </tr>
    </tbody>
  </table>
  <div class="tablefoot">
    <div class="pull-left" style="padding-right: 5px; margin-right: 5px;border-right: 1px solid #e0e0e0">
      <p>发货人：_________&nbsp; 电话： 13601968169</p>
      <p>经手人：_________&nbsp; 电话： 13621901455</p>
    </div>
    <div class="pull-left">
      <p>欠款人：_________&nbsp; 电话：_________</p>
      <p>经手人：_________&nbsp; 电话：_________</p>
    </div>
    <div class="pull-right" style="border: 1px solid #e0e0e0; height: 60px; width: 250px;">
    </div>
  </div>
  <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script>
    $(function(){
      var price = $(".price");
      var totalPrice = 0;
      for(var i = 0; i < price.length ; i++){
        totalPrice += parseFloat(price[i].innerText);
      }
      $("#totalPrice").text(totalPrice);
    })
  </script>
</body>
</html>