<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>下单-超浦木业记账系统</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_487368_7tqlr5858m8ia4i.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
</head>
<body>
  <div class="page-wrap">
    <div class="container-fluid">
      <% include top.html %>
      <div class="main-box row">
        <div class="main">
          <div class="main-top clearfix">
            <div class="form-group pull-left">  
              <input type="text" class="form-control" placeholder="输入客户名">
            </div>
            <div class="form-group pull-left upload hidden-xs">
              <a href="#" class="btn btn-primary form-control">上传表格</a>
            </div>

          </div>
          <table class="table table-bordered text-center xdorder">
            <thead>
              <tr>
                <th>品名</th>
                <th>长度</th>
                <th>宽度</th>
                <th>厚度</th>
                <th>数量</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
                <td><input type="number" class="form-control"></td>
              </tr>
              <tr><td colspan="5"><a href="#" class="addItem">添加一条</a></td></tr>
            </tbody>
          </table>

            <div class="form-group xiadan">
              <a href="#" class="btn btn-default form-control">确认下单</a>
            </div>  

        </div>
      </div>
    </div>
  </div>
  <script src="javascripts/jquery.min.js"></script>
  <script>
    $(function(){
      
      $(".xdorder").on('click', '.addItem', function(event) {
        event.preventDefault();
        var item = $("<tr><td><input type='text' class='form-control'></td><td><input type='number' class='form-control'></td><td><input type='number' class='form-control'></td><td><input type='number' class='form-control'></td><td><input type='number' class='form-control'></td></tr>");
        $(this).parents("tr").before(item);
      });
    })
  </script>
</body>
</html>